# === DATASETS ===
data/**
!data/.gitkeep
!data/test/
!data/train/
!data/valid/

data/test/**
data/train/**
data/valid/**

# === MODELS ===
models/**
!models/.gitkeep
!models/labels.txt

# Ignore large model files
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.pkl
*.joblib

# === IGNORE SPECIFIC PYTHON FILES ===
arrange.py
gpu.py

# === PYTHON / ENVIRONMENT ===
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.DS_Store
.ipynb_checkpoints/
logs/

# === WEB CACHE / SYSTEM ===
node_modules/
*.log
