# ===== IGNORE DATASETS =====
data/**
!data/.gitkeep
!data/test/
!data/train/
!data/valid/

# Ignore contents of data folders (but keep structure)
data/test/**
data/train/**
data/valid/**

# ===== IGNORE MODELS =====
models/**
!models/.gitkeep
!models/labels.txt   # vẫn giữ file nhỏ
!models/README.md    # nếu có mô tả model

# Ignore model weights
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.pkl
*.joblib

# ===== PYTHON & ENV FILES =====
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.DS_Store
.ipynb_checkpoints/
logs/
